<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Ολοκλήρωση παραγγελίας</div>

    <div class="panel-body">
        <p class="text-center">Ελέγξε ότι τα στοιχεία της παραγγελίας σας είναι σωστά και επιλέξτε τρόπο πληρωμής.</p>
    </div>

    <div class="table-responsive">
        <!-- Table -->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Περιγραφή</th>
                <th>Τιμή</th>
                <th>Υποσύνολο</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-if="item.id!=null">{{ item.title }}</td>
                    <td ng-if="item.id!=null">{{ item.price }} &euro;</td>
                    <td ng-if="item.id!=null">{{ item.subtotal }} &euro;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label" for="comment">
                Εάν επιθυμείτε εισάγετε σχόλιο</label>
            <input type="text" class="form-control" id="comment" ng-model="sendcomment" placeholder="Εισάγετε σχόλιο" required="required">
        </div>
    </div>
</div-->
<div class="row">
    <div class="col-sm-3">
        <span>Επιλογή τρόπου πληρωμής:</span>
    </div>
    <div class="col-sm-3">
        <select class="selectpicker" data-style="btn-primary" ng-model="sendtype"  ng-options="t.title for t in types"></select>
    </div>

    <div class="pull-right">
        <button class="btn" onclick="window.location = '/cart'" >Πίσω στο καλάθι</button>&nbsp;&nbsp;<button class="btn btn-success"  ng-click="sendOrder()" >Αποστολή παραγγελίας</button>
    </div>
</div>






